<footer>
    <p>Copyright &copy 2023 Pia Lee</p>
    <p>All right reserved</p>

    <div>
        <p>Images: </p>
        <p><a href="https://www.freepik.com/free-photo/central-park-winter-with-frozen-lake-chair-night-midtown-manhattan-new-york-city_26825578.htm#page=10&query=snowy&position=34&from_view=search&track=sph" target="_blank" rel="noopener noreferrer">TravelScape</a> on Freepik</p>
        <p><a href="https://www.freepik.com/free-photo/narrow-muddy-road-dark-forest_9852331.htm#query=dark&position=30&from_view=search&track=sph" target="_blank" rel="noopener noreferrer">wirestock</a> on Freepik</p>
        <p><a href="https://www.freepik.com/free-photo/landscape-hills-covered-greenery-fog-sunlight-cloudy-sky_10186483.htm#query=cloud%20nature&position=38&from_view=search&track=ais" target="_blank" rel="noopener noreferrer">wirestock</a> on Freepik</p>
        <p><a href="https://www.pexels.com/photo/a-person-under-an-umbrella-standing-on-the-sidewalk-of-the-street-during-a-strong-rain-5065550/" target="_blank" rel="noopener noreferrer">Max Avans</a> from Pexels</p>
    </div>
    <div>
        <p>Api: </p>
        <p><a href="https://www.WeatherAPI.Com" target="_blank">WeatherAPI.Com</a></p>
    </div>
</footer>